@media screen and (min-width: 800px) {
  #App {
    width: 75%;
    margin: auto;
  }

  #ticket {
    width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  #App {
    width: 50%;
    margin: auto;
  }

  #ticket {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 799px) {
  #ticket {
    width: 100%;
  }
}

#App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#current-number {
  color: white;
  font-size: 1.5em;
  background-color: #00BCD4;
  border-radius: 15px;
  padding: 3% 0;
  margin: 5% 0;
}

#ticket {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  padding: 5% 0;
}